<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Layout/navigationBar.css" />
    <link rel="stylesheet" href="/Layout/style.css" />
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="Index.html" id="navbar_logo">HEDIO</a>
            <ul class="navbar_menu">
                <li class="navbar_item"><a class="navbar_links" href="Index.html">Main Page</a></li>
                <li class="navbar_item"><a href="_Hakkımızda.html" class="navbar_links">About Us</a></li>
                <li class="navbar_item"><a href="Products.html" class="navbar_links">Products</a></li>
                <li class="navbar_item"><a href="cart.html" class="navbar_links">Your Cart</a></li>
                <li class="navbar_btn"><a href="SignUpPage.cshtml" class="button">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="background-about-us">
        <div class="container">
            <img src="/Pics/ASHA-Headquarters-930x680-1.jpg" alt="pic">
            <p>
                Our Headquarters locating at Boston. <br /><br />Open for visitations during weekdays, Our Main building is 5 stories contains the ever most important departmants such as:
                <br /> Marketing, <br /> Communication, <br />Offices <br />and Community Zones
            </p>
        </div>
        <div class="container2">
            <img src="/Pics/AdobeStock_197277384.jpeg" alt="pic">
            <p>
                Our newly established smaller in size Chicago quarters. <br /> <br />
                Serving each day to improve nation wide redundancy to serve our customers more diligantly<br />
                With it's small 30 personel family, we are continuing to deliver with sincerity
            </p>
        </div>

        <div class="container3">
            <img src="/Pics/Nichiha-Commercial-DesignerSeries-Illumination-Horizontal-CustomColor-Green-White-Teal-Orange.jpg" alt="pic" />
            <p>
                Our second in size Wiscontin establishment.<br /><br />
                Supporting %30 of our activities, From its start showed great feedback from our customers.<br />
            </p>
        </div>
    </div>



    <div class="spacer"></div>
    <footer>
        <p>Contact Us: HedioInc@headio.com</p> <p>Our Website: HedioInc.com</p>
        <div class="img-container"><img src="/Pics/mail.png" alt="pic" /></div>
    </footer>

</body>
</html>