<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Layout/navigationBar.css" />
    <link rel="stylesheet" href="/Layout/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Website</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="Index.html" id="navbar_logo">HEDIO</a>
            <ul class="navbar_menu">
                <li class="navbar_item"><a class="navbar_links" href="Index.html">Main Page</a></li>
                <li class="navbar_item"><a href="_Hakkımızda.html" class="navbar_links">About Us</a></li>
                <li class="navbar_item"><a href="Products.html" class="navbar_links">Products</a></li>
                <li class="navbar_item"><a href="cart.html" class="navbar_links">Your Cart</a></li>
                <li class="navbar_btn"><a href="SignUpPage.cshtml" class="button">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="main_container">
            <div class="main_content">
                <h1>We Care About</h1>
                <h2>Your Needs</h2>
                <p>See Our Headphone Catalogue</p>
                <button class="main_btn"><a href="Products.html">get started</a></button>
            </div>
            <div class="main_img-container">
                <img src="/Pics/undraw_happy_music_g6wc.png" alt="pic" id="main_img" />
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <footer>
        <p>Contact Us: HedioInc@headio.com</p> <p>Our Website: HedioInc.com</p>
        <div class="img-container"><img src="/Pics/mail.png" alt="pic" /></div>
    </footer>

</body>
</html>